h1 {font-family: $tipografia-general; color: $blanco; font-size: 70px;}
h2 {
    font-family: $tipografia-general;
    color: $blanco;
    text-align: center;
    margin: 30px 0px;
}
h4 {
    font-family: $tipografia-general;
    color: $blanco;  
    text-align: center;
}
h3 {
    font-family: $tipografia-alternativa;
    color: $blanco;
    text-align: center;
}
h6{
    font-size: 1rem; color: $blanco;
}
p, .form-label, a, h5, h6{
    font-family: $tipografia-alternativa;
}
p{
    color: $blanco;
}
body{
    background-color: $azul;
}

$botones: ( 
        amarillo: $amarillo,
        magenta:  $magenta,
); 
%efecto-boton{
    padding: 10px 20px;
    border-radius: 5px;
    font-family: raleway, sans-serif;
    color: $negro;
    text-decoration: none;
    width: max-content;
    background-size: 300% 100%;
    transition: all 0.35s ease;
    border: transparent;
}

@each $red, $color in $botones {
    .btn-#{$red} {
        background-color: $color;
        font-family: raleway, sans-serif;
        color: $negro;
        @extend %efecto-boton;
    }
 }
 
 @each $red, $color in $botones {
    .btn-#{$red}:hover {
        box-shadow: 1px -1px 20px 0px $color;
        -webkit-box-shadow: 1px -1px 20px 0px $color;
        -moz-box-shadow: 1px -1px 20px 0px $color;
    }
 }
.btn-magenta{
    color: $blanco;
}
.row.max-80{
    max-width: 80%;
    margin: auto;
}
.container{
    margin-top: 3rem;
    margin-bottom: 5rem;
}
.container-fluid{
    padding: 0;
}
.navbar .container-fluid{
    padding: 10px 50px;
}

// <------ HOME ----->
.cabecera > .row{
    padding-top: 10rem;
}
.portada-desktop, .portada-mobile{
    width: 100%;
}
.titulo-portada{
    text-align: left;
    z-index: 10;
    margin-bottom: 350px;
}
#navbarSupportedContent{
    justify-content: flex-end;
}
#navbarSupportedContent>ul{
    margin-right: 50px !important;
}
.portada-mobile{
    display: none !important;
}
.container-fluid.marcas{
    background-color: $negro;
    height: auto;
}
.bajada{
    max-width: 50%;
}
.row.tragos{
    display: flex;
    justify-content: space-evenly;
}
.row.tragos img{
    width: 100%;
    filter: grayscale(100%);
    transition: all 0.35s ease;
        &:hover{
        filter: none;
        }
}
.descripcion-cards{
    z-index: 6;
    margin-top: -90px;
    transition: all 0.35s ease;
}
.card-trago:hover .descripcion-cards{
    z-index: 6;
    margin-top: -100px;
}
.card-trago{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.container-fluid.promo-middle .column-2{
    background-image: url(../assets/carrusel-vodka.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.promo-middle .column-1{
    background-color: $negro;
}
.promo-middle .column-1 h2{
    text-align: left;
    font-size: 3rem;
}
.promo-middle .column-1 .row{
    max-width: 80%;
    /* margin: auto; */
    padding-left: 5rem;
    row-gap: 5px;
}
.promo-middle .column-1 .nociones{
    display: flex;
}
.colum-descrpcion {
    display: flex;
    padding-right: 40px;
}
.colum-descrpcion > div {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-top: 20px;
}
.footer-info{
    padding-top: 30px;
}
.marcas img{
    width: 80%;
}
.cards{
    display: flex;
    justify-content: space-evenly;
}
.card-cursos{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    max-width: 30%;
    /* min-height: 310px; */
    transition: all 0.35s ease;
    &:hover{
    transform: scale(1.03);
    }
}
.card-cursos img{
    width: 100%;
}

#formulario{
    background: $amarillo;
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    margin-top: 60px;
}
#formulario article,#formulario form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#formulario h2{
    color: $negro;
    font-size: 3rem;
    margin: 6px 0;
}
#formulario p{
    color: black;
}
#formulario form{
    width: 300px;
}
.form-group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}

.form-field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form-field::placeholder {
    color: transparent;
}
.form-field:placeholder-shown ~ .form-label {
    cursor: text;
    top: 20px;
  }
  .form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
    border: $magenta;
  }
  .form-field:focus {
    padding-bottom: 6px;
    font-weight: regular;
    border-bottom: 3px solid $magenta;
    border-image-slice: 1;
  } 
  .form-field:focus ~ .form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #D82958;
    font-weight: 700;
  }  
  input:-internal-autofill-selected {
    color: -internal-light-dark(red) !important;
  }
