@media (max-width:1228px){
    .promo-middle .column-1 .nociones{
        flex-direction: column;
    }
    .titulo-portada{
        margin-bottom: 130px;
    }
}

/* XXL */
@media only screen and  (min-width: 1770px) {
    .titulo-portada{
        margin-bottom: 350px;
    }
}
/* Mobile */
@media only screen and (max-width:415px){
    .navbar-brand{
        padding: 0;
    }
    .row.tragos{
        overflow-x: scroll;
        /* column-gap: 20px; */
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-left: 30px;
    }
    .row.tragos .col-sm-6{
        box-shadow: none;
    min-width: 250px;
    margin-bottom: 3em;
    width: 50vw;
    }
    .container-fluid.promo-middle .column-2{
        height: 200px;
    }
    .marcas .col-xs-3{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .promo-middle .column-1 .row{
        max-width: none;
        padding-left: 0;
        text-align: center;
    }
    .promo-middle .column-1 h2{
        text-align: center;
    }
    .nociones{
        align-items: center;
    }
    .row.tragos img{
        filter: none;
    }
    .portada-desktop{
        display: none !important;
    }
    .portada-mobile{
        display:block !important;
    }
    .carrusel-informacion{
        justify-content: center;
    }
    .hide-mobile{
        display: none;
    }
    .cabecera{
        height: 500px;
    }
    .nosotros-portada{
        background-position: right;
    }
    .cards{
        flex-direction: column;
    }
    .card-cursos{
        max-width: 100%;
        margin: 10px;
    }
    .cards.column-1{
        margin-bottom: 0px;
    }
    #formulario{
        display: flex;
        height: 470px;
        flex-direction: column;
        align-items: center;
    }
    .titulo-portada{
        margin-bottom: 0;
    }
}