* {
    padding: 0%;
    margin: 0%;    
}

h1 {font-family: Erotique Alternate Trial, serif; color: white; font-size: 70px;}
h2 {
    font-family: Erotique Alternate Trial, serif;
    color: white;
    text-align: center;
    margin: 30px 0px;

}
h4 {
    font-family: Erotique Alternate Trial, serif;
    color: white;  
    text-align: center;
}
h3 {
    font-family: raleway, sans-serif;
    color: white;
    text-align: center;
}
h6{
    font-size: 1rem; color: white;
}
p, .form-label, a, h5, h6{
    font-family: raleway, sans-serif;
}
p{
    color: white;
}
body{
    background-color: #101A24;
}
.btn-amarillo{
    background: #FFDD67;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: raleway, sans-serif;
    color: black;
    text-decoration: none;
    width: max-content;
}

.btn-rosado{
    background: #D82958;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: raleway, sans-serif;
    color: white;
    text-decoration: none;
    border: none;
    width: max-content;
}
.row.max-80{
    max-width: 80%;
    margin: auto;
}
.cabecera > .row{
    padding-top: 10rem;
}
.img-nosotros{
    width: 100%;
}
/* NAVEGADOR */
.navbar-brand{
    padding: 20px 50px;
}

/* CARRUSEL */
.portada-desktop, .portada-mobile{
    width: 100%;
}
.titulo-portada{
    text-align: left;
    z-index: 10;
    margin-bottom: 350px;
}

/* Home */
#navbarSupportedContent{
    justify-content: flex-end;
}
#navbarSupportedContent>ul{
    margin-right: 50px !important;
}
.portada-mobile{
    display: none !important;
}
.container-fluid.marcas{
    background-color: #111111;
    height: auto;
}

.row.tragos{
    display: flex;
    justify-content: space-evenly;
}
.row.tragos img{
    width: 100%;
    filter: grayscale(100%);
    transition: all 0.35s ease;
}
.row.tragos img:hover{
    filter: none;
}
.descripcion-cards{
    z-index: 6;
    margin-top: -90px;
    transition: all 0.35s ease;
}
.card-trago:hover .descripcion-cards{
    z-index: 6;
    margin-top: -100px;
}
.card-trago{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.container{
    margin-top: 3rem;
    margin-bottom: 5rem;
}
.container-fluid{
    padding: 0;
}
.container-fluid.promo-middle .column-2{
    background-image: url(./assets/carrusel-vodka.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.promo-middle .column-1{
    background-color: #111111;
}
.promo-middle .column-1 h2{
    text-align: left;
    font-size: 3rem;
}
.promo-middle .column-1 .row{
    max-width: 80%;
    /* margin: auto; */
    padding-left: 5rem;
}
.promo-middle .column-1 .nociones{
    display: flex;
}
.colum-descrpcion {
    display: flex;
    padding-right: 40px;
}
.colum-descrpcion > div {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-top: 20px;
}
.footer-info{
    padding-top: 30px;
}
.marcas img{
    width: 80%;
}
.cards{
    display: flex;
    justify-content: space-evenly;
}
.card-cursos{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    max-width: 30%;
    /* min-height: 310px; */
    transition: all 0.35s ease;
}
.card-cursos:hover{
    transform: scale(1.03);
}
.card-cursos img{
    width: 100%;
}
/*NOSOTROS*/
.promocion.nosotros{
    background-image: url(./assets/promo-nosotros.png);
    height: 300px;
    background-size: cover;
    margin-top: 25px;
    padding-left: 20px;
}
.promocion.nosotros h2{
    text-align: left;
}
.cabecera{
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vw;
}
.nosotros-portada{
    background-image: url(./assets/portada-nosotros.png);
}
.recetas-portada{
    background-image: url(./assets/portada-recetas.png);
}
.row.recetas{
    padding: 50px 0;
}
.cursos-portada{
    background-image: url(./assets/portada-cursos.png);
}
.promocion.cursos{
    background-image: url(./assets/promo-verano.png);
    height: 300px;
    background-size: cover;
    margin-top: 25px;
    padding-left: 20px;
}
.card-cursos > div{
    padding: 20px;
}
.card-cursos > div h3{
    text-align: left;
}
.card-cursos img{
    border-radius: 10px 10px 0 0;
}
.cards.column-1{
    margin-bottom: 40px;
}

@media (max-width:1228px){
    .promo-middle .column-1 .nociones{
        flex-direction: column;
    }
    .titulo-portada{
        margin-bottom: 130px;
    }
}
/* Mobile */
@media only screen and (max-width:415px){
    .navbar-brand{
        padding: 0;
    }
    .row.tragos{
        overflow-x: scroll;
        /* column-gap: 20px; */
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-left: 30px;
    }
    .row.tragos .col-sm-6{
        box-shadow: none;
    min-width: 250px;
    margin-bottom: 3em;
    width: 50vw;
    }
    .container-fluid.promo-middle .column-2{
        height: 200px;
    }
    .marcas .col-xs-3{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .promo-middle .column-1 .row{
        max-width: none;
        padding-left: 0;
        text-align: center;
    }
    .promo-middle .column-1 h2{
        text-align: center;
    }
    .nociones{
        align-items: center;
    }
    .row.tragos img{
        filter: none;
    }
    .portada-desktop{
        display: none !important;
    }
    .portada-mobile{
        display:block !important;
    }
    .carrusel-informacion{
        justify-content: center;
    }
    .hide-mobile{
        display: none;
    }
    .cabecera{
        height: 500px;
    }
    .nosotros-portada{
        background-position: right;
    }
    .cards{
        flex-direction: column;
    }
    .card-cursos{
        max-width: 100%;
        margin: 10px;
    }
    .cards.column-1{
        margin-bottom: 0px;
    }
}