* {
    padding: 0%;
    margin: 0%;    
}

h1 {font-family: Erotique Alternate Trial, serif; color: white; font-size: 70px;}
h2 {
    font-family: Erotique Alternate Trial, serif;
    color: white;
    text-align: center;
    margin: 30px 0px;

}
h4 {
    font-family: Erotique Alternate Trial, serif;
    color: white;  
    text-align: center;
}
h3 {
    font-family: raleway, sans-serif;
    color: white;
    text-align: center;
}
h6{
    font-size: 1rem; color: white;
}
p, .form-label, a, h5, h6{
    font-family: raleway, sans-serif;
}
p{
    color: white;
}
body{
    background-color: #101A24;
}
.btn-amarillo{
    background: #FFDD67;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: raleway, sans-serif;
    color: black;
    text-decoration: none;
    width: max-content;
}

.btn-rosado{
    background: #D82958;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: raleway, sans-serif;
    color: white;
    text-decoration: none;
    border: none;
    width: max-content;
}
/* NAVEGADOR */
.navbar-brand{
    padding: 20px 50px;
}

/* CARRUSEL */
.portada-desktop, .portada-mobile{
    width: 100%;
}

/* Home */
.portada-mobile{
    display: none;
}
.container-fluid.marcas{
    background-color: #111111;
    height: auto;
}

.row.tragos{
    display: flex;
    justify-content: space-evenly;
}
.row.tragos img{
    width: 100%;
    filter: grayscale(100%);
    transition: all 0.35s ease;
}
.row.tragos img:hover{
    filter: none;
}
.descripcion-cards{
    z-index: 6;
    margin-top: -90px;
    transition: all 0.35s ease;
}
.card-trago:hover .descripcion-cards{
    z-index: 6;
    margin-top: -100px;
}
.card-trago{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.container{
    margin-top: 3rem;
    margin-bottom: 5rem;
}
.container-fluid{
    padding: 0;
}
.container-fluid.promo-middle .column-2{
    background-image: url(./assets/carrusel-vodka.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.promo-middle .column-1{
    background-color: #111111;
}
.promo-middle .column-1 h2{
    text-align: left;
    font-size: 3rem;
}
.promo-middle .column-1 .row{
    max-width: 80%;
    /* margin: auto; */
    padding-left: 5rem;
}
.promo-middle .column-1 .nociones{
    display: flex;
}
.colum-descrpcion {
    display: flex;
    padding-right: 40px;
}
.colum-descrpcion > div {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-top: 20px;
}
.footer-info{
    padding-top: 30px;
}
.marcas img{
    width: 80%;
}


@media (max-width:1228px){
    .promo-middle .column-1 .nociones{
        flex-direction: column;
    }
}
/* Mobile */
@media only screen and (max-width:415px){
    .row.tragos{
        overflow-x: scroll;
        column-gap: 20px;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-left: 30px;
    }
    .row.tragos .col-sm-6{
        box-shadow: none;
    min-width: 250px;
    margin-bottom: 3em;
    width: 50vw;
    }
    .container-fluid.promo-middle .column-2{
        height: 200px;
    }
    .marcas .col-xs-3{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .promo-middle .column-1 .row{
        max-width: none;
        padding-left: 0;
        text-align: center;
    }
    .promo-middle .column-1 h2{
        text-align: center;
    }
    .nociones{
        align-items: center;
    }
    .row.tragos img{
        filter: none;
    }
    .portada-desktop{
        display: none;
    }
    .portada-mobile{
        display:block;
    }
    .carrusel-informacion{
        justify-content: center;
    }
}