.promocion.cursos {
  background-image: url(./assets/promo-verano.png);
  height: 300px;
  background-size: cover;
  margin-top: 25px;
  padding-left: 20px; }

.promocion.nosotros, .promocion.cursos {
  height: 300px;
  background-size: cover;
  margin-top: 25px;
  padding-left: 20px; }

h1 {
  font-family: Erotique Alternate Trial, serif;
  color: white;
  font-size: 70px; }

h2 {
  font-family: Erotique Alternate Trial, serif;
  color: white;
  text-align: center;
  margin: 30px 0px; }

h4 {
  font-family: Erotique Alternate Trial, serif;
  color: white;
  text-align: center; }

h3 {
  font-family: raleway, sans-serif;
  color: white;
  text-align: center; }

h6 {
  font-size: 1rem;
  color: white; }

p, .form-label, a, h5, h6 {
  font-family: raleway, sans-serif; }

p {
  font-size: 1.1rem;
  color: white; }

body {
  background-color: #101A24; }

img {
  max-width: 100%; }

.btn-amarillo, .btn-magenta {
  padding: 10px 20px;
  border-radius: 5px;
  font-family: raleway, sans-serif;
  color: #111111;
  text-decoration: none;
  width: max-content;
  background-size: 300% 100%;
  transition: all 0.35s ease;
  border: transparent; }

.btn-amarillo {
  background-color: #FFDD67;
  font-family: raleway, sans-serif;
  color: #111111; }

.btn-magenta {
  background-color: #FE2962;
  font-family: raleway, sans-serif;
  color: #111111; }

.btn-amarillo:hover {
  box-shadow: 1px -1px 20px 0px #FFDD67;
  -webkit-box-shadow: 1px -1px 20px 0px #FFDD67;
  -moz-box-shadow: 1px -1px 20px 0px #FFDD67; }

.btn-magenta:hover {
  box-shadow: 1px -1px 20px 0px #FE2962;
  -webkit-box-shadow: 1px -1px 20px 0px #FE2962;
  -moz-box-shadow: 1px -1px 20px 0px #FE2962; }

.btn-magenta {
  color: white; }

.row.max-80 {
  max-width: 80%;
  margin: auto; }

.container {
  margin-top: 3rem;
  margin-bottom: 5rem; }

.container-fluid {
  padding: 0; }

.navbar .container-fluid {
  padding: 10px 50px; }

.cabecera > .row {
  padding-top: 10rem; }

.portada-desktop, .portada-mobile {
  width: 100%; }

.titulo-portada {
  text-align: left;
  z-index: 10;
  margin-bottom: 100px; }

#navbarSupportedContent {
  justify-content: flex-end; }

#navbarSupportedContent > ul {
  margin-right: 50px !important; }

.portada-mobile {
  display: none !important; }

.container-fluid.marcas {
  background-color: #111111;
  height: auto; }

.bajada {
  max-width: 50%; }

.row.tragos {
  display: flex;
  justify-content: space-evenly; }

.row.tragos img, .row.recetas img {
  width: 100%;
  filter: grayscale(100%);
  transition: all 0.35s ease; }
  .row.tragos img:hover, .row.recetas img:hover {
    filter: none; }

.descripcion-cards {
  z-index: 6;
  margin-top: -90px;
  transition: all 0.35s ease; }

.card-trago:hover .descripcion-cards {
  z-index: 6;
  margin-top: -100px; }

.card-trago {
  display: flex;
  flex-direction: column;
  text-decoration: none; }

.container-fluid.promo-middle .column-2 {
  background-image: url(../assets/carrusel-vodka.png);
  background-repeat: no-repeat;
  background-size: cover; }

.promo-middle .column-1 {
  background-color: #111111; }

.promo-middle .column-1 h2 {
  text-align: left;
  font-size: 3rem; }

.promo-middle .column-1 .row {
  max-width: 80%;
  /* margin: auto; */
  padding-left: 5rem;
  row-gap: 5px; }

.promo-middle .column-1 .nociones {
  display: flex; }

.colum-descrpcion {
  display: flex; }

.colum-descrpcion:nth-child(2) img {
  width: 60; }

.colum-descrpcion > div {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-top: 20px; }

.footer-info {
  padding-top: 30px; }

.marcas img {
  width: 80%; }

.cards {
  display: flex;
  justify-content: space-evenly; }

.card-cursos {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  max-width: 30%;
  /* min-height: 310px; */
  transition: all 0.35s ease; }
  .card-cursos:hover {
    transform: scale(1.03); }

.card-cursos img {
  width: 100%; }

#formulario {
  background: #FFDD67;
  display: flex;
  justify-content: space-evenly;
  height: 300px;
  margin-top: 60px; }

#formulario article, #formulario form {
  display: flex;
  flex-direction: column;
  justify-content: center; }

#formulario h2 {
  color: #111111;
  font-size: 3rem;
  margin: 6px 0; }

#formulario p {
  color: black; }

#formulario form {
  width: 300px; }

.form-group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px; }

.form-field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #111111;
  outline: 0;
  font-size: 1rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s; }

.form-field::placeholder {
  color: transparent; }

.form-field:placeholder-shown ~ .form-label {
  cursor: text;
  top: 20px; }

.form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #111111;
  border: #FE2962; }

.form-field:focus {
  padding-bottom: 6px;
  font-weight: regular;
  border-bottom: 3px solid #FE2962;
  border-image-slice: 1; }

.form-field:focus ~ .form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #D82958;
  font-weight: 700; }

input:-internal-autofill-selected {
  color: -internal-light-dark(red) !important; }

#bebidas-portada {
  background-image: url(../assets/portada-bebidas.jpg); }

.bold-amarillo {
  color: #FFDD67; }

.promocion.nosotros {
  background-image: url(../assets/promo-nosotros.png); }

.promocion.cursos {
  background-image: url(../assets/promo-verano.png); }

.nosotros-portada {
  background-image: url(../assets/portada-nosotros.png); }

.promocion h2 {
  text-align: left; }

.active-nav {
  color: #FFDD67 !important; }

.recetas-portada {
  background-image: url(../assets/portada-03.png); }

.final {
  display: flex;
  justify-content: center; }

@media (max-width: 1228px) {
  .promo-middle .column-1 .nociones {
    flex-direction: column; }
  .titulo-portada {
    margin-bottom: 130px; } }

/* XXL */
@media only screen and (min-width: 1770px) {
  .titulo-portada {
    margin-bottom: 350px; } }

/* Mobile */
@media only screen and (max-width: 415px) {
  .navbar-brand {
    padding: 0; }
  .row.tragos, .row.recetas {
    overflow-x: scroll;
    /* column-gap: 20px; */
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-left: 30px; }
  .row.tragos .col-sm-6, .row.recetas .col-sm-6 {
    box-shadow: none;
    min-width: 250px;
    margin-bottom: 3em;
    width: 50vw; }
  .container-fluid.promo-middle .column-2 {
    height: 200px; }
  .marcas .col-xs-3 {
    width: 50%;
    display: flex;
    justify-content: center; }
  .promo-middle .column-1 .row {
    max-width: none;
    padding-left: 0;
    text-align: center; }
  .promo-middle .column-1 h2 {
    text-align: center; }
  .nociones {
    align-items: center; }
  .row.tragos img, .row.recetas img {
    filter: none; }
  .portada-desktop {
    display: none !important; }
  .portada-mobile {
    display: block !important; }
  .carrusel-informacion {
    justify-content: center; }
  .hide-mobile {
    display: none; }
  .nosotros-portada {
    background-position: right; }
  .cards {
    flex-direction: column; }
  .card-cursos {
    max-width: 100% !important;
    margin: 10px; }
  .cards.column-1 {
    margin-bottom: 0px; }
  #formulario {
    display: flex;
    height: 470px;
    flex-direction: column;
    align-items: center; }
  .titulo-portada {
    margin-bottom: 0; }
  .nosotros-portada {
    background-image: url(../assets/portada-nosotros-mobile.png); }
  .cabecera {
    height: 175vw !important; }
  .carousel-caption.d-none.d-md-block.titulo-portada{
    display: block;}
    .bajada{
      max-width: 100%;
      font-size: 1rem;
    }
    h1{
      font-size: 3rem;
    }
  .recetas-portada, .cursos-portada, #bebidas-portada {
    background-position: 50%; } }

.cursos-portada {
  background-image: url(../assets/portada-cursos.png); }

.cabecera {
  padding-top: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vw; }

.card-cursos {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  max-width: 30%;
  /* min-height: 310px; */
  transition: all 0.35s ease; }

.card-cursos:hover {
  transform: scale(1.03); }

.cursos .cards {
  padding-bottom: 3rem; }

.card-cursos h3 {
  font-family: Erotique Alternate Trial, serif;
  text-align: left;
  padding: 10px 20px; }

.card-cursos p {
  padding: 0px 20px 0px; }

.card-cursos img {
  max-width: 100%;
  border-radius: 10px 10px 0 0; }

.promocion.verano {
  background-image: url(../assets/promo-verano.png);
  height: 300px;
  background-size: cover; }

button.btn-amarillo {
  margin: 0 0 20px 20px; }

iframe {
  max-width: 100%; }

.modal-content {
  background: #2c3238;
  border-radius: 10px;
  color: white; }

.modal-footer {
  border-top: none;
  padding: 0 0.75rem 0.75rem 0; }

.bebidas-portada.cabecera {
  background-image: url(../assets/portada-bebidas.jpg); }

.row.tragos, .row.recetas {
  margin-bottom: 4rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #242526; }

nav .wrapper {
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.wrapper .logo a {
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none; }

.wrapper .nav-links {
  display: inline-flex; }

.nav-links li {
  list-style: none; }

.nav-links li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  transition: all 0.35s ease; }
  .nav-links li a:hover {
    color: #FFDD67;
    font-weight: bold; }

nav .row header.transparente {
  color: transparent; }

.nav-links .mobile-item {
  display: none; }

.nav-links .drop-menu {
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); }

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible; }

.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px; }

.mega-box {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden; }

.mega-box .content {
  background: #242526;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); }

.mega-box .content .row {
  width: calc(25% - 30px);
  line-height: 45px; }

.content .row img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.content .row header {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500; }

.content .row .mega-links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09); }

.content .row:nth-child(2) .mega-links {
  border-left: transparent; }

.row .mega-links li {
  padding: 0 20px; }

.row .mega-links li a {
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block; }

.row .mega-links li a:hover {
  color: #f2f2f2; }

.wrapper .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none; }

.wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px; }

@media screen and (max-width: 970px) {
  .wrapper .btn {
    display: block; }
  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease; }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px; }
  ::-webkit-scrollbar-track {
    background: #242526; }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C; }
  #menu-btn:checked ~ .nav-links {
    left: 0%; }
  #menu-btn:checked ~ .btn.menu-btn {
    display: none; }
  #close-btn:checked ~ .btn.menu-btn {
    display: block; }
  .nav-links li {
    margin: 15px 10px; }
  .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px; }
  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease; }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box {
    max-height: 100%; }
  .nav-links .desktop-item {
    display: none; }
  .nav-links .mobile-item {
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease; }
  .nav-links .mobile-item:hover {
    background: #3A3B3C; }
  .drop-menu li {
    margin: 0; }
  .drop-menu li a {
    border-radius: 5px;
    font-size: 18px; }
  .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease; }
  .mega-box .content {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px; }
  .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08); }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
    border-top: 0px; }
  .content .row .mega-links {
    border-left: 0px;
    padding-left: 15px; }
  .row .mega-links li {
    margin: 0; }
  .content .row header {
    font-size: 19px; }
  nav .row header.transparente {
    display: none; }
  .menu-hamburguesa {
    max-width: 80%; } }

nav input {
  display: none; }

.body-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px; }

.body-text div {
  font-size: 45px;
  font-weight: 600; }
